/*
 * Fonts
 *
 * Use transfonter.org to add a new font.
 */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

@mixin roboto {
  font-family: "Roboto";
  font-weight: 500;
}

@mixin roboto--bold {
  font-family: "Roboto";
  font-weight: 700;
}
