/*
 * Profile
 */
.app-profile {
  .profile {
    &__introduction {
    }

    &__title {
      margin-bottom: 40px;

      @include roboto--bold;
      font-size: 48px;

      > b {
        color: $red;
      }
    }

    &__text {
      font-weight: 400;
      font-size: 18px;
    }

    &__header {
      margin-bottom: 80px;
      .header {
        &__title {
          font-size: 48px;

          > b {
            color: $red;
          }
        }

        &__text {
          margin-top: 35px;

          font-size: 18px;
          font-weight: 400;
        }
      }
    }

    &__performance {
      max-width: 360px;

      background: #282d30;
      border-radius: 5px;
    }
  }
}
