/*
 * Profile
 */
.app-profile {
  .profile {
    &__introduction {
    }

    &__title {
      margin-bottom: 40px;

      @include roboto--bold;
      font-size: 48px;

      > b {
        color: $red;
      }
    }

    &__text {
      font-weight: 400;
      font-size: 18px;
    }

    &__header {
      margin-bottom: 80px;
      .header {
        &__title {
          font-size: 48px;

          > b {
            color: $red;
          }
        }

        &__text {
          margin-top: 35px;

          font-size: 18px;
          font-weight: 400;
        }
      }
    }

    &__details {
      flex: 1;
    }

    &__charts {
      display: flex;
      margin-top: 30px;
      min-height: 260px;
      gap: 30px;
    }

    &__performance {
      max-width: 265px;

      background: #282d30;
      border-radius: 5px;
    }

    &__score {
      position: relative;
      max-width: 265px;

      background: $gray;
      border-radius: 5px;

      .recharts-responsive-container {
        position: relative;
        z-index: 2;
      }

      .score {
        &__label {
          position: absolute;
          top: 25px;
          left: 35px;

          font-size: 15px;
        }

        &__details {
          display: grid;
          width: 170px;
          height: 170px;
          position: absolute;
          top: 50%;
          left: 50%;

          background: $white;
          border-radius: 50%;
          place-content: center;
          text-align: center;
          line-height: 1.5;
          transform: translate(-50%, -50%);
        }

        &__score,
        &__text {
          max-width: 95px;
          margin: 0 auto;
        }

        &__score {
          font-size: 30px;
          text-align: center;
        }

        &__text {
          font-size: 16px;
          color: $gray-dark;
        }
      }
    }

    &__average-sessions {
      max-width: 265px;

      background: $red;
      border-radius: 5px;

      .tooltip {
        padding: 5px 7px;

        font-size: 10px;
        background: $white;
      }
    }

    &__informations {
      display: flex;
      gap: 30px;
      margin-top: 30px;

      align-items: stretch;
    }

    // Stats
    &__stats {
      display: flex;
      gap: 40px;
      flex: 1;

      flex-direction: column;
      justify-content: space-between;
    }

    &__activity {
      position: relative;
      padding: 25px 30px;

      background: $gray;

      .activity {
        &__title {
          font-size: 15px;
          font-weight: 500;
        }
      }

      // Chart legend
      .recharts-legend-wrapper {
        transform: translateY(-125%);

        .legend-item-0 {
          margin-right: 30px !important;
        }
      }

      // Chart tooltip
      .tooltip {
        padding: 15px 10px;

        text-align: center;
        color: $white;
        font-size: 10px;
        font-weight: 400;
        background: #e60000;

        > b {
          display: block;

          &:not(:last-child) {
            margin-bottom: 10px;
          }
        }
      }
    }
  }
}
