/*
 * Header
 */
.app-header {
  position: relative;
  padding: 20px 80px 15px 30px;
  margin-bottom: 70px;

  background: $black;

  z-index: 10;

  .header {
    &__wrapper {
      display: flex;
      gap: 150px;

      align-items: center;
      justify-content: space-between;
    }

    &__nav {
      flex: 1;

      color: $white;

      > ul {
        display: flex;

        align-items: center;
        justify-content: space-between;

        > li {
          color: $white;
          font-size: 24px;
          cursor: pointer;
        }
      }
    }
  }
}
